<div id="fb-root"></div>

<%= render :partial => "common/navbar" %>
<%= render :partial => "common/sidebar" %>

<div class="content">
  <%= render :partial => "common/breadcrumb" %>
  <div class="wrapper-content">
    <div id="wildcard_holder"></div>
    <div id="map_canvas" style="display: none; width:100%; height:800px"></div>
  </div>
</div>


