<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li>
        <form class="search form-inline">
          <input type="text" placeholder="Search...">
          <button class="search-submit btn-search" value="" type="submit"><i class="icon-search"></i></button>                    
        </form>                        
      </li>
    </ul>
    <a class="brand"><span class="title">Wildkard*</span><span class="logo"></span></a>
  </div>
</div>

<div class="sidebar">
  <div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">
    <form class="search form-inline">
        <input type="text" placeholder="Search...">
        <button class="search-submit btn-search" value="" type="submit"><i class="icon-search"></i></button>                        
    </form>    

    {{outlet user}}

    <a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
        <span class="notify navigation span12"><i class="icon-reorder"></i> Navigation <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
    </a>

    <div class="nav-collapse subnav-collapse collapse ">
            {{outlet sidebarPosts}}

<a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-signin"></i>Account<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
      <ul id="accounts-menu" class="nav nav-list collapse">
          <li ><a href="sign-in.html"><i class="icon-signin"></i> Sign In</a></li>
          <li ><a href="sign-up.html"><i class="icon-signout"></i> Sign Up</a></li>
          <li ><a href="password.html"><i class="icon-lock"></i> Reset Password</a></li>
      </ul>


      {{#linkTo "buttons" class="nav-header"}}<i class='icon-calendar'></i>Buttons{{/linkTo}}

      {{#linkTo "map" class="nav-header"}}<i class='icon-camera'></i>Map{{/linkTo}}
          <fb:login-button show-faces="true" width="200" max-rows="1" size="small" ></fb:login-button>
    </div>
  </div>
</div>



<div class="content">
  <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>
    <li class="active">Dashboard</li>

    <li class=pull-right> 
      <div class="dark-well">
         <div id="reportrange" class="pull-right notify well-picker">
            <i class="icon-calendar"></i>
            <span></span> <b class="caret"></b>
         </div>
      </div>
    </li>
  </ul>
  <div class="wrapper-content">
    {{outlet}}
  </div>
</div>
