<div class="navbar">
  <div class="navbar-inner">
    
    <a class="brand"><span class="title" style="padding: 20px;">Wildkard*</span><span class="logo"></span></a>
  </div>
</div>

<div class="sidebar">
  <div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">
    <form class="search form-inline">
        <input type="text" placeholder="Search...">
        <button class="search-submit btn-search" value="" type="submit"><i class="icon-search"></i></button>                        
    </form>    

    {{outlet user}}

    <a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
        <span class="notify navigation span12"><i class="icon-reorder"></i> Navigation <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
    </a>

    <div class="nav-collapse subnav-collapse collapse ">
    
      {{outlet sidebarPosts}}

      
    </div>
  </div>
</div>



<div class="content">
  
  <div class="wrapper-content">
    {{outlet}}
  </div>
</div>
