<div class="cards">
  {{#each card in controller}}
    <div class="card">
      <div class="tag">{{card.tag}}</div>
      <div class="message">{{card.message}}</div>
      <div class="updatedAt">{{card.updatedAt}}</div>
    </div>
  {{/each}}
</div>
<div class="details">
  <h2>Details</h2>
</div>
