<a href="#cards" class="nav-header" data-toggle="collapse"><i class="icon-bar-chart"></i>Cards<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
<ul id="cards" class="nav nav-list collapse">
  {{#each card in controller}}
  <li ><i class="icon-map-marker"></i> {{card.latitude}}</li>
  {{/each}}
</ul>
