<a href="#cards" class="nav-header" data-toggle="collapse"><i class="icon-bar-chart"></i>Cards<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
<ul id="cards" class="nav nav-list collapse">
  {{#each card in controller}}
  <script>$('.notify-hack').html(parseInt($('.notify-hack').html())+1)</script>
  <li ><i class="icon-map-marker" style="color: white; list-style: none;"></i> {{card.latitude}}</li>
  {{/each}}
</ul>
