<div class="sidebar-avatar">
  <img src="gravatar.com/avatar/9f45b377729db1230c3e09ed3bd1c906?s=300"  alt="avatar" class="thumbnail-avatar" />
  <a href="#"><div class="sidebar-avatar-message"><div class="notify notify-message"><i class="icon-envelope"></i></div></div></a>
  <a href="#"><div class="sidebar-avatar-notify"><div class="notify notify-hack">0</div></div></a>
</div>
