<div class="sidebar-avatar">
  <img {{bindAttr src="picture"}}  alt="avatar" class="thumbnail-avatar" />
  <a href="#"><div class="sidebar-avatar-message"><div class="notify notify-message"><i class="icon-envelope"></i></div></div></a>
  <a href="#"><div class="sidebar-avatar-notify"><div class="notify ">7</div></div></a>
</div>
