<ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>
  <li class="active">Dashboard</li>

  <li class=pull-right> 
    <div class="dark-well">
       <div id="reportrange" class="pull-right notify well-picker">
          <i class="icon-calendar"></i>
          <span></span> <b class="caret"></b>
       </div>
    </div>                
  </li>          
</ul>