<div class="sidebar">
  <div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">
    <form class="search form-inline">
        <input type="text" placeholder="Search...">
        <button class="search-submit btn-search" value="" type="submit"><i class="icon-search"></i></button>                        
    </form>    

    <div class="sidebar-avatar">
        <img src="http://www.gravatar.com/avatar/9f45b377729db1230c3e09ed3bd1c906?s=200" alt="avatar" class="thumbnail-avatar">
        <a href="#"><div class="sidebar-avatar-message"><div class="notify notify-message"><i class="icon-envelope"></i></div></div></a>
        <a href="#"><div class="sidebar-avatar-notify"><div class="notify ">7</div></div></a>
     </div>

    <a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
        <span class="notify navigation span12"><i class="icon-reorder"></i> Navigation <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
    </a>

    <div class="nav-collapse subnav-collapse collapse ">

      <a href="#pins-menu" class="nav-header" data-toggle="collapse"><i class="icon-map-marker"></i>Pins<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
      <ul id="pins-menu" class="nav nav-list collapse">
          <li ><a href="#"><i class="icon-star"></i> Sign In</a></li>
          <li ><a href="#"><i class="icon-star"></i> Sign Up</a></li>
          <li class="reset-all" ><a href="#"><i class="icon-star"></i> Reset All</a></li>
      </ul>   

      <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-signin"></i>Account<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
      <ul id="accounts-menu" class="nav nav-list collapse">
          <li ><a href="sign-in.html"><i class="icon-signin"></i> Sign In</a></li>
          <li ><a href="sign-up.html"><i class="icon-signout"></i> Sign Up</a></li>
          <li ><a href="password.html"><i class="icon-lock"></i> Reset Password</a></li>
      </ul>   

      <a href="#chart" class="nav-header" data-toggle="collapse"><i class="icon-bar-chart"></i>Charts & graphs<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
      <ul id="chart" class="nav nav-list collapse">
          <li ><a href="charts.html"><i class="icon-picture"></i> Basic Charts</a></li>  
          <li ><a href="graphs.html"><i class="icon-signal"></i> Advanced Charts</a></li>   
      </ul>                         

      <a href="calendar.html" class="nav-header" ><i class="icon-calendar"></i>Calendar</a>


      <a href="gallery.html" class="nav-header" ><i class="icon-camera"></i>Gallery</a>




          <fb:login-button show-faces="true" width="200" max-rows="1" size="small" ></fb:login-button>
    </div>
  </div>
</div>